*{
    box-sizing: border-box;
}
#container{
    width: 1000px;
    margin: 0 auto;
    background-color: skyblue;
    height: 100%;
}
header{
    height: 100px;
    width: 100%;
    background: orange;
    color: black;
    text-align: center;
    font-size: 100px;
}
nav{
    width: 100%;
    height: 75px;
    background: blue;
}
#navbar ul{
    padding: 0;
    list-style: none;
    text-align: right;
}

#navbar li{
    display: inline;   
}

#navbar a{
    color: gold;
    text-decoration: none;
    font-size: 30px;
    padding-right: 15px;    
}
body {
    font-family: 'Tangerine', serif;
    font-size: 12px;
}
h1{ 
    color: azure;
    font-size: 100px;
}
#accordion{
    width: 100;

}
.flex-container{
    display: flex;
}
.flex-container > div{
    background-color: white;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    flex-grow: 1;
}
.col{
    flex-direction: column;
}
table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
  float: left;
  margin-right: 50px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
 }